.navbar {
width: 100%;
text-align: center;
overflow: hidden;
padding: 1px 0px;
width: 100%;
font-family: 'Open Sans', sans-serif;
font-size: 50px;
color: #006466;
background: #006466;
padding-left: 10px;
padding-right: 10px;
margin: 10px;
border: 10px;
}

.topnav {
  font-size: 16px;
  padding: 1px 0px;
  width: 98%;
  text-align: center;
  overflow: hidden;
  padding: 1px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  color: #006466;
  background: #006466;
  margin: 10px;
  border: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.menu_nav {
  font-size: 16px;
  padding: 1px 0px;
  background-color: #0B525B;
  color: #0B525B;
}

nav a:hover {
color: black;
background: #0B525B;
text-decoration: none;
}

nav a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  background: #0B525B;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a {
  font-family: 'Roboto Slab', serif;
  color: black;
  text-decoration: underline;
  font-size: 20px;
}

head {
  align-items: flex-start;
}

body {
  background: #bebebe;
  text-align: center;
  color: black;
  margin: 0;
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.experience {
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem 0px;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  width: 95%;
  flex-direction: column;
  flex-wrap: wrap;
}

ul {
  display: flex;
  list-style-type: none;
  list-style-position: inside;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0px;
  margin: auto;
  padding-inline-start: 0px;
}

li {
  background: #bebebe ;
  width: 33%;
  float: left;
  padding-bottom: 5px;
  margin: 8px auto;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

p {
background: #bebebe ;
text-align: left;
  font-size: 25px;
  margin: 7px auto;
  padding-left: 60px;
}

h1 {
  font-size: 40px;
  text-align: left;
  background: #bebebe ;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 20px;
  display: flex;
  width: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  background: #0B525B;
  text-align: left;
  padding-left: 60px;
  padding-right: 20px;
  text-transform: uppercase;
}

h3 {
  font-size: 25px;
  text-align: left;
  background: #bebebe ;
  padding-left: 60px;
  padding-right: 20px;
}

h4 {
  font-size: 20px;
  text-align: left;
  background: #bebebe ;
  padding-left: 60px;
  padding-right: 20px;
}

div {
  font-size: 18px;
  background: #bebebe;
  text-align: center;
  padding-bottom: 10px;
}

img {
  border: 0;
  text-align: left;
  margin: 0;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  text-decoration: none;
  align-self: flex-start;
  align-items: flex-start;
}

div {
  background-color: #bebebe ;
}

#menu_trigger {
  display: none;
}

@media (max-width: 900px) {
  nav {
        width: 80%;
        font-size: 50px;
        text-align: left;
      }

      ul {
        flex-direction: column;
      }

      li {
        width: 100%;
        text-align: left;
      }

      #menu_nav {
        display:none;
      }

      #menu_trigger {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
      }

    }
